.custom-navbar {
  background: #2f4161;
  padding: 10px;
}

.nav-button {
  color: white;
}

.nav-button:hover {
  background-color: #98acd1;
}

.navbar-nav .btn:focus,
.navbar-nav .btn:active {
  outline: none;
  box-shadow: none;
  background-color: #4b6cb7;
  color: white;
}