.custom-navbar {
  background: #2f4161;
  padding: 10px;
}

/* Estado base */
.nav-button {
  position: relative;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease;
}

.nav-button .nav-label {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}

.nav-active-bg {
  position: absolute;
  inset: 0;
  background-color: #6c89cf;
  border-radius: 8px;
  z-index: 1;
}

/* Hover com suavidade */
.nav-button:hover .nav-label {
  color: rgb(8, 24, 47);
  transform: translateY(-1px);
}

.nav-button.active .nav-label {
  color: white;
}

.nav-container {
  position: relative;
  display: flex;
}

/* Ao clicar ou focar */
.navbar-nav .btn:focus,
.navbar-nav .btn:active {
  outline: none;
  box-shadow: none;
  background-color: #4b6cb7;
  color: white;
  transform: scale(0.98); /* clique visual */
}