.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.login-box {
  background-color: #1f2b3e;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  color: white;
}

.login-field input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: #a3b6d9;
  color: black;
  outline: none;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}


.login-field label {
  margin-bottom: 5px;
  font-size: 0.95rem;
}

.error-message {
  color: #ff9999;
  font-size: 0.85rem;
  margin-top: 3px;
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 20px auto 0 auto;
}

.login-button {
  padding: 6px 20px;
  background-color: #7d9ce4;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5b7fc4;
}
